<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="hpanel">
        <div class="panel-heading">
          Change your Password Below
          <div class="panel-tools">
            <%= @user.name.titleize %>
          </div>
        </div>
        <div class="panel-body">
          <%= render "devise/registrations/password_change" %>
        </div>
      </div>
    </div>
  </div>
</div>
