<div class="form-group col-md-6">
  <%= label_tag :representing_institution_id, "Institution", class: "control-label" %>
  <%= select_tag :representing_institution_id, options_for_select(@representing_institutions.insert(0, "- Select Institution -")), { required: true, class: "form-control" } %>
</div>
