<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="hpanel">
        <div class="panel-heading">
          Update Representing Institution Information Below
        </div>
        <div class="panel-body">
          <%= render "representing_institutions/form", representing_institution: @representing_institution %>
        </div>
      </div>
    </div>
  </div>
</div>
