<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingTwo">
     <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Education Details
        </a>
     </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
     <div class="panel-body">
        Education Details here
     </div>
  </div>
</div>
