<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="hpanel">
        <div class="panel-heading">
          Update Application Information Below
        </div>
        <div class="panel-body">
          <%= render "applications/form", application: @application %>
        </div>
      </div>
    </div>
  </div>
</div>
