<div class="normalheader">
  <div class="hpanel">
    <div class="panel-body no-shadow th-border">
      <div id="hbreadcrumb" class="pull-right">
        <ol class="hbreadcrumb breadcrumb">
          <li><a href="index-2.html">Dashboard</a></li>
          <li>
            <span><%= controller_name.titleize %></span>
          </li>
          <li class="active">
            <span><%= action_name.titleize %></span>
          </li>
        </ol>
      </div>
      <h2 class="font-light m-b-xs">
        <%= controller_name.titleize %>
      </h2>
    </div>
  </div>
</div>
