<div class="text-center">
  <h3>Are you a Student?</h3>
  <%= link_to "Submit Your University Application", new_application_path, class: "btn btn-primary mt-30" %>
</div>

<p class="mt-30">Not a Student? <%= link_to "Log In Here", new_user_session_path %></p>
