<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="hpanel">
        <div class="panel-heading">
          Enter Representing Country Information Below
        </div>
        <div class="panel-body">
          <%= render "representing_countries/form", representing_country: @representing_country %>
        </div>
      </div>
    </div>
  </div>
</div>
