#error_explanation {
  width: auto;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation ul li {
  font-size: 14px;
  list-style: square;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.float-margin-left {
  float: left;
  margin: 0px 10px 0px 0px;
  max-width: 110px;
  max-height: 92px;
}

.vertical-center {
  margin-top: 4%
}

.font-18 {
  font-size: 18px
}

.pad-0 {
  padding: 0px;
}

.font-bold {
  font-weight: bold !important;
}

#logo {
  padding-left: 20px !important;
  padding: 10px;
  text-align: center !important;
}

.nested_fields {
  padding: 0.35em 0.625em 0.75em;
}

.app-process-footer {
  height: 45px;
  padding: 0px;
}

.pad-footer-btn {
  padding: 3px 15px;
}

.foat-margin-l {
  float: left;
  margin-left: 10px;
}

@media screen and (min-width: 1400px) {

  .small-placeholder::-webkit-input-placeholder {
    font-size: 12px;
  }

  .pad-left-0 {
    padding-left: 0px;
  }

  .margin-top-12 {
    margin-top: 12px;
  }

  .font-100 {
    font-size: 100%;
  }
}

@media (min-width: 992px) {
  .nested_application_applicant_languages .col-md-2 {
    width: 13.666667%;
  }
}
