#error_explanation {
  width: auto;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation ul li {
  font-size: 14px;
  list-style: square;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.float-margin-left {
  float: left;
  margin: 0px 10px 0px 0px;
  max-width: 110px;
  max-height: 92px;
}

.vertical-center {
  margin-top: 4%
}

.font-18 {
  font-size: 18px
}

.pad-0 {
  padding: 0px;
}

.font-bold {
  font-weight: bold;
}

#logo {
  padding-left: 20px !important;
  padding: 10px;
  text-align: center !important;
}

.nested_fields {
  padding: 0.35em 0.625em 0.75em;
}
