<div class="modal-dialog">
  <div class="modal-content">
    <div class="color-line"></div>
    <div class="modal-header text-center">
      <h4 class="modal-title">Add Email Template</h4>
      <small class="font-bold"></small>
    </div>
    <div class="modal-body">
      <%= render "email_templates/form", locals: { email_template: @email_template } %>
    </div>
  </div>
</div>
