<div class="modal-dialog">
  <div class="modal-content">
    <div class="color-line"></div>
    <div class="modal-header text-center">
      <h4 class="modal-title">Add Income</h4>
      <small class="font-bold"></small>
    </div>
    <div class="modal-body">
      <%= render "finance/income_form", locals: { income: @income } %>
    </div>
  </div>
</div>
