<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="hpanel">
        <div class="panel-heading hbuilt">
          Incomes: <%= @incomes.count %>
          <div class="pull-right">
          </div>
        </div>
        <div class="panel-body no-shadow">
          <%= render partial: "filterrific_income", locals: { filterrific: @filterrific } %>

          <%= render partial: "finance/incomes", locals: { incomes: @incomes } %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="edit_income" class="modal fade" role="dialog" aria-labelledby="EditIncome"></div>
