<footer class="footer">
  <div class="col-md-12 text-center animated-panel bounceIn" style="animation-delay: 0.1s;">
    <strong>Access Education | CRM</strong> - Powered by SeeGon
    2018 Copyrights. All Rights Reserved.
  </div>
</footer>
